/*= Style for button launch and end START
  ==================================================== */
  	/* style for launch */
	#launchbtn:hover {
		background-color: red;
		color:black;
	}

    /* style for end */
	#launchbtn:hover {
		background-color: red;
		color:black;
	}
/*= END
  ==================================================== */